{% extends "base.html" %}
{% load i18n %}
{% load currency %}

{% block title %}
	{{ block.super }}: {% trans "My Shopping Cart" %}
{% endblock %}

{% block extra-head %}
	<link rel="stylesheet" type="text/css" href="/static/css/cart.css" />
{% endblock %}

{% block section-id %}cart{% endblock %}

{% block content %}
	<h2>{% trans "My Shopping Cart" %}</h2>
	{% if not cart %}
		<p>{% trans "You haven't put anything in your cart, yet!" %}</p>
	{% else %}
		{# debugging info #}
		{% if settings.DEBUG %}
			<p class="debug">{{ cart }}</p>
		{% endif %}

		<table class="cart">
			<tr>
				<th>ID</th>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Quantity" %}</th>
				<th>{% trans "Price" %}</th>
			</tr>
			{% for item in cart.itervalues %}
			<tr class="{% cycle row0,row1 %}">
				<!-- <td class="id">#{{ product.id }}</td> -->
				<td class="id">
					<form class="remove" action="{% url store.views.product_remove item.get_product.slug %}" method="post">
						<input type="submit" value="Remove" />
					</form>
				</td>
				<td class="name">{{ item.get_product.name }} {% change_currency item.get_product.price currency.code %}</td>
				<td class="price">
					<form class="price" action="" method="post">
					<input type="text" value="{{ item.quantity }}" />
					</form></td>
				<td>{{ currency.symbol }}{% change_currency item.get_price currency.code %}</td>
			</tr>
			{% endfor %}
			<tr>
				<td class="total" colspan="4">{% trans "Cart Total" %}: {{ currency.symbol }}{% change_currency cart.get_price currency.code %}</td>
			</tr>
		</table>
		<form id="cart-checkout" action="{% url store.views.checkout %}" method="LINK">
			<input type="submit" value="Proceed to Checkout" />
		</form>
	{% endif %}
{% endblo