{% load i18n %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="el" lang="el">
<head>
	<title>{% block title %}ManiShop{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/manishop.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("span.note").fadeOut().fadeIn().fadeOut().fadeIn();
		$("p.message span").fadeOut().fadeIn().fadeOut().fadeIn().fadeOut(5000);
	});
	</script>
	{% block extra-head %}
	{% endblock %}
</head>
<body class="{% block section-id %}{% endblock %}">

<div id="left-container">
	<h1><a href="/" title="{% trans 'ManiShop' %}"></a></h1>
	{% block left-content %}
		{% load category_tree %}
		{% show_categories %}
	{% endblock %}
</div>

<div id="right-container">
	<div id="header">
		<div id="status-bar">
			<div id="preferences">
				<form id="locale_switcher" method="POST" action="{% url store.views.set_language %}">
					<select name="language" onchange="$('#locale_switcher').submit()">
					{% for lang in LANGUAGES %}
						<option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
					{% endfor %}
					</select>
					<noscript>
						<input type="submit" value="Set" />
					</noscript>
				</form>

				<form id="currency_switcher" method="POST" action="{% url store.views.set_currency %}">
					<select name="currency" onchange="$('#currency_switcher').submit()">
					{% for curr in CURRENCIES %}
						<option value="{{ curr.code }}" {% ifequal curr.code currency.code %}selected="selected"{% endifequal %}>{{ curr.name }}</option>
					{% endfor %}
					</select>
					<noscript>
						<input type="submit" value="Set" />
					</noscript>
				</form>
			</div>

			{% if user.is_authenticated %}
			<p>{% trans "Logged in as" %}: <a href="/customer"><span>{{ user.username }}</span></a> | <a href="/customer/logout">{% trans "Logout" %}</a></p>
			{% else %}
				<p><a href="/customer/login/?next=/">{% trans 'Login' %}</a> | 
				<a href="/customer/register/">{% trans "Create Account" %}</a></p>
			{% endif %}
		</div>

		<div id="menu-bar">
			<ul>
				<li id="nav-cart">
				<a class="cart" href="/store/cart" title="{% trans 'My Shopping Cart' %}"></a>
				</li>
				<li id="nav-help"><a class="help" href="/help" title="{% trans 'Customer Support' %}"></a></li>
			</ul>
				{% ifnotequal cart|length 0  %}
					<p class="cart-count">{{ cart.get_product_count }}</p>
				{% endifnotequal %}
		</div>
	</div>

	<div id="content">
		{% if messages %}
			{% for message in messages %}
				<p class="message"><span>{{ message }}</span></p>
			{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>

	<div id="footer">
		<p>&copy; ManiShop.gr {% now "Y" %} | Code of Conduct</p>
	</div>
</div>

</body>
</html>
